<?xml version='1.0' encoding='utf-8'?>
<widget id="com.exmaple.callkit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CallKitDemo</name>
    <description>
        A sample Apache Cordova application to demonstrate CallKit plugin.
    </description>
    <author email="taracque@taracque.hu" href="http://github.com/taracque">
        Taracque
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
